boto3==1.43.40
boto3-stubs==1.43.40
botocore==1.43.40
botocore-stubs==1.43.14
colorama==0.4.6
iniconfig==2.3.0
jmespath==1.1.0
packaging==26.2
pluggy==1.6.0
pygments==2.20.0
pytest==9.1.1
pytest-mock==3.15.1
python-dateutil==2.9.0.post0
s3transfer==0.19.0
six==1.17.0
types-awscrt==0.34.1
types-s3transfer==0.16.0
urllib3==2.7.0
